<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Prototyp_Bibliotek</display-name>
  
  <session-config>
		<session-timeout>240</session-timeout>
	</session-config>
  
   <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/prototyp_bibliotek</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
      <description>DB Connection2</description>
      <res-ref-name>jdbc/prototyp_bibliotek2</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
  
  <welcome-file-list>
    <welcome-file>litteratursokare.jsp</welcome-file>
  </welcome-file-list>
  
  <security-constraint>  
  <web-resource-collection>  
    <web-resource-name>My Hidden Pages</web-resource-name>  
    <url-pattern>/hidden/lantagare.jsp</url-pattern>  
  </web-resource-collection>  
  <auth-constraint>  
    <!-- empty to prevent anyone from accessing JSP files under "/hidden" -->  
  </auth-constraint>  
</security-constraint>  

</web-app>